body
{
    font-family: 'Roboto';
    font-size: 0.9em;
    margin: 0px;
	background-color: #441F47;
	
	padding-left: 7%;
	padding-right: 7%;
}

h1
{
    margin: 0px;

}

h3
{
    font-size: 1.4em;
    margin: 10px 0px -20px 0px;
}

h4
{
    font-size: 1.3em;
    font-style: normal;
    font-family: 'Roboto Condensed';
    font-weight: 400;
}

h7
{
    font-size: 4.3em;
    font-style: normal;
    font-family: 'Roboto Condensed';
    font-weight: 400;
}

#ducky
{
	position: absolute;
	right: 34px;
	top: 3%;
	width: 24%;
}

#heading
{
	color: #FDDFC1;
}

#nametag
{
    background-color: #2D112D;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 1px;
	color: #C9293E;
}

p
{
    margin-left: 2px;
}

a
{
	color: #FF4000;
}

#content
{
    padding-left: 40px;    
}

#nametag ul
{
    
    margin-left: -40px;
}
#nametag li
{
    display: inline;    
    background-color: #000;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 30px;
    text-align: center;
    font-size: large;
}
#nametag a
{    
    text-decoration: none;
}
#nametag a li:hover
{
    background-color: #ff9000;
}
#nametag a li
{
    color: #fff;
}


#topProjects
{
	margin-left: -40px;
	margin-bottom: 20px;
    padding-left: 40px;
    display: inline-block;
	background-color: #FDDFC1;
	width: 100%;
	text-align: left;
}

#topProjects a
{
}

#topProjects a :hover
{
	box-shadow: 0em 0em 0 0.6em #FF4000;
}

#topProjects h6
{
	font-size: x-large;
	margin: 0;
	margin-top: 20px;
	margin-bottom: -30px;
	padding-left: 10px;
    font-family: 'Roboto Condensed';
    font-weight: 300;
	font-style: italic;
}
#topProjects .top
{
    margin-top: -20px;
    display:inline-block;
    width: 400px;   
    padding: 20px; 
    padding-left: 0px;
    font-size: small;
    vertical-align: top;

}
#topProjects img
{
    height: 16%;
}
#topProjects li
{
    list-style-type: none;

}



#description
{
	margin-left: -40px;
	margin-bottom: 20px;
    padding-left: 40px;
    display: inline-block;
	background-color: #FDDFC1;
	width: 100%;
	text-align: left;
}
#description h6
{
	font-size: x-large;
	margin: 0;
	margin-top: 20px;
	margin-bottom: -30px;
	padding-left: 10px;
    font-family: 'Roboto Condensed';
    font-weight: 300;
	font-style: italic;
}
#description .top
{
    margin-top: -20px;
    display:inline-block;
    width: 400px;   
    padding: 20px; 
    padding-left: 0px;
    font-size: small;
    vertical-align: top;

}
#description img
{
    height: 16%;
}
#description li
{
    list-style-type: none;

}

#latest 
{
    display: inline-block;
	background-color: #441F47;
	width: 100%;
	color: #FDDFC1;
	padding-left: 30px;
}
#latest img
{
    display: inline;
    float: left;
    padding-left: 20px;    
    padding-right: 20px;
}

h5
{
    font-size: 2em;
    font-style: italic;
    font-family: 'Roboto Condensed';
    font-weight: 300;
    padding-left: 50px;
    margin-bottom: 10px;
    margin-top: 30px;
}